server:
  port: 8080

spring:
  application:
    name: quiz-ai
  profiles:
    default: local

  # 3. File Upload Limits
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB

# 4. Monitoring (Actuator & Prometheus)
#management:
#  endpoints:
#    web:
#      exposure:
#        include: health, info, prometheus
#  endpoint:
#    health:
#      show-details: always

# 5. Custom Application Properties
app:
  gemini:
    api-key: ${GEMINI_API_KEY}
    model: gemini-flash-latest

  file:
    temp-dir: ./temp/video

  yt-dlp:
    path: ${YT_DLP_PATH:yt-dlp}
