spring:
  datasource:
    url: jdbc:mysql://localhost:3306/quizAi?serverTimezone=Asia/Seoul
    username: quizAi
    password: quizAi0829@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true