spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ondongne?serverTimezone=Asia/Seoul
    username: ondongne
    password: ondongne0829@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true